.title{
  padding-bottom: 20px;
  color: #333;
  text-align: center;
}

.text{
  color: #777;
}

.button{
  display: block;
  padding: 8px 0;
  width: 150px;
  background: #4970ff;
  border-radius: 4px;
  margin: 20px auto;
  text-align: center;
  color: white
}